<body>
  <div class="container h-100" >
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <h3 id="form-title">REGISTER ACCOUNT</h3>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form method="POST" action="">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="fas fa-user"></i
                ></span>
              </div>
              <input type="text" name="username" />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"
                  ><i class="fas fa-envelope-square"></i
                ></span>
              </div>
              <input type="email" name="email" />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="text" name="password1" />
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="text" name="password2" />
            </div>

            <div class="d-flex justify-content-center mt-3 login_container">
              <input
                class="btn login_btn"
                type="submit"
                value="Register Account"
              />
            </div>
          </form>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            Already have an account?
            <a href="{% url 'login' %}" class="ml-2">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
