ul{
    text-align: center;
    justify-content: center;
    list-style-type: none;
}
li{
    display: inline-flex;   
    padding: 20px 50px;
}
a{
    text-decoration: none;
    border: 1px solid grey;
    padding: 5px 20px;
    background-color: beige;
    color: blue;
}
a:hover{
    background-color: blue;
    color: white;
}