@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  background: #2b3d6b;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #fff;
}

.col-centered {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

.login-panel {
  background: #00FF00;
  padding: 50px;
  min-height: 20px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-panel-title {
  color: #fff;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.login-panel-tagline {
  color: #fff;
  font-weight: 300;
}

.login-panel input {
  font-weight: 300;
  background: #2b3d6b;
  color: #fbfbfb;
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-panel button {
  font-weight: 600;
  background: #2b3d6b;
  color: #fbfbfb;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.login-panel button:hover {
  background: #3184b7;
  color: #fff;
}

.login-panel-section {
  margin-top: 40px;
}

.checkbox {
  font-size: 12px;
}
.input-group-addon{
  background-color: #2db456;
  border:none;
  color:#fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}
.header-ribbon{
  background-color: #355d98;
  width: 100%;
  height: 5px;
  display: block;
}

.login-panel-footer{
    clear: both;
    vertical-align: bottom;
    width: 100%;
    height: 25px;
}
